
<div class="container wrapper">
  <div class="panel-group" id="accordion">
    {{#each this.data}}
      <div class="card">
        <div class="card-header" id="heading{{this._id}}">
          <h4 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#{{this._id}}" aria-expanded="false" aria-controls="{{this._id}}">{{this.title}}</button
          </h4>
        </div>
        <div id="{{this._id}}" class="" aria-labelledby="heading{{this.id}}" data-parent="#accordion">
          <div class="card-body">
            <h5>description</h5>
            <p class="description">{{this.description}}</p>
            <h5>category</h5>
            <p class="category">{{this.category}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  <div class='bottomthing'>
    <form action='/search'> method='post'>
    <input type="hidden" value="{{this.search}}">
    <ul>
        {{#each this.pagenums}}
            <li><input type="submit" value="{{this}}">{{this}}</input></li>
        {{/each}}
    </ul>
    </form>
  </div>
</div>
